XML/Day2/task2_write_xsd_schema_from_xml/POrder.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="purchaseOrder">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="shipTo"></xs:element>
                <xs:element ref="billTo"></xs:element>
                <xs:element ref="comment"></xs:element>
                <xs:element name="items">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="item" maxOccurs="unbounded"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="orderDate"></xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="shipTo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"></xs:element>
                <xs:element name="street" type="xs:string"></xs:element>
                <xs:element name="city" type="xs:string"></xs:element>
                <xs:element name="state" type="xs:string"></xs:element>
                <xs:element name="zip" type="xs:string"></xs:element>
            </xs:sequence>
            <xs:attribute name="country"></xs:attribute>
        </xs:complexType>
    </xs:element>


    
    <xs:element name="billTo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"></xs:element>
                <xs:element name="street" type="xs:string"></xs:element>
                <xs:element name="city" type="xs:string"></xs:element>
                <xs:element name="state" type="xs:string"></xs:element>
                <xs:element name="zip" type="xs:string"></xs:element>
            </xs:sequence>
            <xs:attribute name="country"></xs:attribute>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="item">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="productName" type="xs:string"></xs:element>
                <xs:element name="quantity" type="xs:integer"></xs:element>
                <xs:element name="USPrice" type="xs:float"></xs:element>
                <xs:element ref="comment" minOccurs="0"></xs:element>
                <xs:element name="shipDate" type="xs:date" minOccurs="0"></xs:element>
            </xs:sequence>
            <xs:attribute name="partNum" type="xs:string"></xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="comment">
        
    </xs:element>





</xs:schema>